.catalog {
  display: grid;
  max-width: 488px;
  margin: 50px auto;
  justify-content: center;
  gap: 48px;

  @include media(488px, 2);
  @include media(768px, 3);
  @include media(1024px, 4);

  &__card {
    display: grid;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
